#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #4b0f00aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #f74848aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.selected {
  background-color: #ddd;
  cursor: pointer;
}

.textarea-large {
  width: 100%; /* 親コンテナに合わせて幅を調整 */
  max-width: 800px; /* 最大幅を設定（必要に応じて変更） */
  min-width: 200px; /* 最小幅を設定 */
  height: 200px; /* 初期高さを設定 */
  resize: both; /* 横方向と縦方向のサイズ変更を許可 */
  overflow: auto; /* 内容が溢れた場合スクロール可能に */
  font-size: 16px; /* テキストサイズ */
  padding: 10px; /* 余白を設定 */
  box-sizing: border-box; /* paddingとborderを含めてサイズを計算 */
}

ul {
  list-style: none; /* 箇条書きの・を消す */
  padding: 0; /* リストの左側の余白も消す */
}

li {
  margin-bottom: 8px; /* リスト項目の間隔を調整 (任意) */
}
